{% extends 'tyre_stock/base.html' %}
{% block body_block %}
{% load static %}
{% load admin_urls %}

<div class="container-fluid">
  <div class="jumbotron">
  <h5>Login by filling out the following details:</h5>
  <p></p>


    <form method="post">
      {% csrf_token %}
      <label for="username">Username:</label>
      <input type="text" name="username" placeholder="Enter your username">

      <label for="password">Password:</label>
      <input type="text" name="password" placeholder="Enter your password">

      <input type="submit" class="btn btn-primary" value="Submit">


    </form>



  </div>
  <a href="{% url 'admin:index' %}"><button class="btn btn-warning" type="button" name="admin_button">Admin</button></a>

</div>



{% endblock %}
