{% extends 'tyre_stock/base.html' %}
{% block body_block %}
{% load static %}

<br><br><br>
<h1 align="center">Prem Tyres</h1>
<br>

  <img src="{% static 'photo/jk_tyre.jpg' %}" alt="Oops couldn't load the image" style="display: block;margin-left: auto;margin-right: auto;width: 46%;" ><br>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58009.69191262135!2d74.64310371007126!3d24.671695457896977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3966190643017033%3A0x13d33614d8e4f297!2sJK%20Truck%20Wheels%2C%20Prem%20Goods%20carrier!5e0!3m2!1sen!2sin!4v1641967443319!5m2!1sen!2sin"
   style="display: block;margin-left: auto;margin-right: auto;width: 46%;"></iframe>

{% endblock %}
